# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Environnements virtuels
venv/
env/
.venv/
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.swp
*.swo

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# Couverture de code
.coverage
htmlcov/

# Logs
*.log
